body {
	background: url('../images/bg-pattern.jpg') top repeat #7d7d7d;
	font-size: 36px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	color: #E2E2E2;
	color: #fff;
	line-height:42px;
	background: #ccc;
	font-size: 14px;
	line-height: 15px;
}

/*----EDITOR-----*/

.ui-row {
	position:relative;
	clear:both;
	background: #777777;
	border:2px solid #000;x
	margin-bottom:4px;
	height:30px;
	cursor:pointer;
}

#timeline {
	position:absolute;
	top:5%;
	left:0px;
	height:70%;
	width:100%;
	overflow: auto;
	background: url('../images/grid.png') repeat
}

#item-editor {
	position:fixed;
	bottom:0%;
	height:25%;
	width:100%;
	left:0px;
	border:thin solid #333;
	background: #999;
	-webkit-box-shadow: 1px 3px 40px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 3px 40px 5px rgba(0, 0, 0, 0.6);
}

#item-editor .close {
	position:absolute;
	top:5px;
	right:5px;
}

.btn {
	position:absolute;
	line-height:32px;
	font-size: 16px;
	letter-spacing: 1px;
	width:100px;
	height:34px;
	padding-top:4px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color:#fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #7daa0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #7daa0b 48%, #c1d82f 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#7daa0b), color-stop(98%,#c1d82f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #7daa0b 48%,#c1d82f 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daa0b', endColorstr='#c1d82f',GradientType=0 ); /* IE6-9 */
	cursor:pointer
}

#item-editor .remove.btn {
	background: #9e1c00; /* Old browsers */
	background: -moz-linear-gradient(top,  #9e1c00 0%, #b56e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e1c00), color-stop(100%,#b56e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9e1c00 0%,#b56e5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9e1c00 0%,#b56e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9e1c00 0%,#b56e5e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9e1c00 0%,#b56e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e1c00', endColorstr='#b56e5e',GradientType=0 ); /* IE6-9 */
}

#item-editor .remove.btn:hover {
	background: #9e1c00; /* Old browsers */
	background: -moz-linear-gradient(top,  #9e1c00 0%, #680000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e1c00), color-stop(100%,#680000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9e1c00 0%,#680000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9e1c00 0%,#680000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9e1c00 0%,#680000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9e1c00 0%,#680000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e1c00', endColorstr='#680000',GradientType=0 ); /* IE6-9 */
}

#item-editor .save.btn {
	bottom:120px;
	right:20px;
}

#item-editor .add.btn {
	bottom:70px;
	right:20px;
}

#item-editor .remove.btn {
	bottom:20px;
	right:20px;
}

.btn:hover {
	background: #7daa0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #7daa0b 0%, #547208 82%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7daa0b), color-stop(82%,#547208)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* IE10+ */
	background: linear-gradient(to bottom,  #7daa0b 0%,#547208 82%); /* W3C */
}

#item-editor .title {
	font-size: 21px;
	color:#333;
	margin-bottom:20px;
	font-weight: 400
}

#item-editor .main {
	position:absolute;
	left:5px;
	top:5px;
	width:480px;
	padding:10px;
	border: thin solid #333;
	height:170px
}

#item-editor .main div {
	padding:4px;
	border-bottom:thin solid #333;
}

#item-editor .main input {
	position: relative;
	left: 20px;
}

#item-editor .values {
	position:absolute;
	left:515px;
	padding:10px;
	top:5px;
	width:490px;
	border: thin solid #333;
	height:170px
}

#item-editor .values .val-row {
	position:relative;
	clear:both;
/* 	padding:5px; */
	border:thin solid #fff
}

#item-editor .values .val-row .remove {
	position: relative;
	float: right;
	right: 2px;
	font-size: 18px;
	top: 2px;
	background: #a93434;
	padding: 2px;
	cursor:pointer;
}

.json {
	position: absolute;
	top: -400px;
	left:1%;
	width: 400px;
	height: 300px;
	background: white;
	font-size: 21px;
	color: #666666;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	overflow: auto;
	padding: 30px;
	border:2px solid #fff;
	-webkit-box-shadow: 1px 3px 40px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 3px 40px 5px rgba(0, 0, 0, 0.6);
	
}

.json.create {
	font-size:13px;
	text-align: left;
}

.json.create .close {
	font-size: 21px;
}

.json.btn {
}

.close {
	position:absolute;
	right:5px;
	top:0px;
	cursor:pointer;
}

.close:hover {
	color:#000;
}

.json-link {
	cursor:pointer
}

.json-link:hover {
	color:#000
}

.json-link.active {
	background:#7daa0b;
	color:#fff;
}

.ui-row.selected {
	background:#7c9a79;
}


.ui-row.open {
	background:#5dbb54;
}



.ui-row input {
	position:relative;
	float:left;
	
}
.anchor {
	position:absolute;
	width:10px;
	height:50%;
	top:30%;
	background: #dddddd;
	border:thin solid #666666
}
.left.anchor {
	left:0px;
/* 	z-index:100; */
	
}

.right.anchor {
	right:0px;
/* 	z-index:100; */
	top:50%;
}

.ui-row .values {
	position: absolute;
	left:40%;
	top:5px;
	width:40%;
	overflow:hidden;
	height:20px;
}


.ui-row .preview {
	padding:3px;
	border-right:thin solid #000;
	font-size: 12px;
	margin-right:5px;
	top:4px;
	line-height: 23px;
	color:#000
}


.top-fixed  {
	position: fixed;
	top: -30px;
	right: 5%;
	height: 40px;
	width: 165px;
	padding: 2px;
	padding-top: 25px;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: white;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.6);
	background: #7daa0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #7daa0b 48%, #c1d82f 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#7daa0b), color-stop(98%,#c1d82f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7daa0b 48%,#c1d82f 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #7daa0b 48%,#c1d82f 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daa0b', endColorstr='#c1d82f',GradientType=0 ); /* IE6-9 */
	z-index: 1000;
	letter-spacing: 1px;
	cursor:pointer;
}

.top-fixed:hover {
	-webkit-box-shadow: 1px 3px 13px 7px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 3px 13px 7px rgba(0, 0, 0, 0.8);
	background: #7daa0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #7daa0b 0%, #547208 82%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7daa0b), color-stop(82%,#547208)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7daa0b 0%,#547208 82%); /* IE10+ */
	background: linear-gradient(to bottom,  #7daa0b 0%,#547208 82%); /* W3C */

}


.top-fixed.save {
	right:20%
}

.top-fixed.open {
	left:5%
}

.top-fixed.create {
	left:20%
}
